#module-tree-cover {
    border: 1px solid #e6e6e6;
    margin-top: 10px;
    width: 100%;
}

#module-tree {
    overflow: auto;
    width: 100% !important;
    margin-bottom: 10px;
}

.layui-layer-loading {
    left: 86% !important;
}

.dtree-menubar {
    padding-left: 20px !important;
    padding-top: 5px;
}