<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="'../static/common/common_js_css' :: common_js_css(~{::head/title}, ~{::head/link}, ~{::head/script})">
    <title>Medical Insurance Fee System</title>
    <link rel="stylesheet" th:href="@{/css/role/role.css}">
    <script th:src="@{/js/role/role.js}"></script>
</head>
<body>
    <div class="layui-fluid">
        <table id="data-table" class="layui-hide" lay-filter="data-table"></table>

        <script type="text/html" id="toolbar-filter">
            <button id="add-item" class="layui-btn layui-btn-sm" lay-event="add-item">新建</button>
            <button id="del-items" class="layui-btn layui-btn-danger layui-btn-sm" lay-event="add-item">批量删除</button>
        </script>

        <script type="text/html" id="op-col">
            <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="grant">
                <i class="layui-icon layui-icon-auz"></i>
                功能授权
            </a>
            <a class="layui-btn layui-btn-xs" lay-event="edit-item">编辑</a>
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="edit-item">编辑</a>
        </script>
    </div>
</body>
</html>
